/* Generic styling */

html,
body {
    background: url(../images/furley_bg.png);
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #015C5E;
}

h1 {
    margin: 0 0 20px 150px;
}

p {
    margin: 10px 0;
}

a,
a:visited {
    color: #2DA8AB;
}

a:hover,
a:focus {
    color: #015C5E;
}

/* Blocks */

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.header,
.top {
    overflow: hidden
}

.logo {
    display: block;
    margin: 0 auto;
}

.metanavigation {
    float: right;
    overflow: hidden;
    list-style-type: none;
}

.metanavigation_item {
    float: right;
    padding: 0;
    margin: 0 0 0 10px;
}

.navigation {
    float: left;
}

.content {
    margin-left: 150px;
}

.slideshow {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden
}

.slideshow_item {
    float: left;
    width: 50%;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation_item {
    margin-bottom: 10px;
}

/* Modules */

.button,
.button:visited {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background: #2DA8AB;
    color: #fff;
    border-radius: 10px;
}

.button:hover,
.button:focus {
    background-color: #015C5E;
    color: #fff;
}

.footerlist {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footerlist_item {
    float: left;
    margin: 0 0 0 10px;

}
